<h1>To Do's</h1>
<form>
  <fieldset>
    <legend>New To-do</legend>
    <label>Task
      <input type="text" name="task" />
    </label>
    <button>Add</button>
  </fieldset>
</form>

<ul>
  <li data-todo-id="1" class="">get shit done!
    <input id="done" name="done" type="checkbox" value="yes" />
    <span>&times;</span>
  </li>
</ul>